<nav class="navbar navbar-expand-lg">
    <img class="nav-logo" src="/assets/Glampedia Logo.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav-links">
        <li class="nav-item active">
          <a class="nav-link home" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link makeup" href="#">Makeup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link skincare" href="#" tabindex="-1" aria-disabled="true">Skincare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hair" href="#" tabindex="-1" aria-disabled="true">Hair</a>
        </li>
      </ul>
      <form class="form ">
        <input class=" search" type="search" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Signup
          </button>
      </form>
    </div>
  </nav>
 <div class="banner-img"></div>


<div class="conatiner">
    <!-- Top Products -->
    <div class="row">
        <div class="col top-picks-wrapper">
            <div class="product-col">
                <img src="/assets/toppicks1.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
            <div class="product-col"> 
                <img src="/assets/toppicks2.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
            <div class="product-col">
                <h4>Top Picks</h4>
                <img src="/assets/toppicks3.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            
            </div>
            <div class="product-col">
                <img src="/assets/toppicks4.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
            <div class="product-col">
          
                <img src="/assets/toppicks5.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
        </div>
    </div>
    <!-- Skincare -->
    <div class="row">
        <div class="col top-picks-wrapper">
            <div class="product-col">
                <img src="/assets/toppicks1.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
            <div class="product-col"> 
                <img src="/assets/toppicks2.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
            <div class="product-col">
                <h4>Top Picks</h4>
                <img src="/assets/toppicks3.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            
            </div>
            <div class="product-col">
                <img src="/assets/toppicks4.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
            <div class="product-col">
          
                <img src="/assets/toppicks5.PNG" class="product-img">
                <h6>NARS</h6>
                <p>Blush</p>
            </div>
        </div>
    </div>
</div>

<!-- modal sign up-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Signup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/signup">
                <div class="form-group">
                  <label for="exampleInputEmail1">First Name</label>
                  <input type="name" class="form-control first-name" id="first-name" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Last Name</label>
                  <input type="name" class="form-control last-name" id="last-name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Sign Up</button>
                  </div>
                </form>
          <div>
            <span class="account-question">Already have an account?
              <a href="/login" data-toggle="modal" data-target="#login" data-dismiss="modal">login</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal login-->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<footer>
    <img class="footer-logo" src="/assets/footer.PNG" class="product-img">

</footer>